<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->

    <div class="left">
      <% books.forEach(function(books,index){ %>
        <div >
          <div>
            <label>Book ID: <output><%= books.titleID %></output> </label>
          </div>
          <div>
            <label>Name: <output> 《<%= books.title %>》</output> </label>
          </div>
          <button class="action-button" data-id="<%= books.titleID %>">点击我</button>
        </div>
        <hr />
        <% }); %>
    </div>

    <div class="right">
      <% copys.forEach(function(copys){ %>
        <div >
          <div>
            <label>Copy ID: <output><%= copys.copyID %>, Book ID: <output><%= copys.titleID %></output></output> </label>
          </div>
          <div>
            <label>Location: <output><%= copys.location %></output> </label>
          </div>
          <div>
            <label>Available: <output><%= copys.isCheckedOut==0 %></output> </label>
          </div>
        </div>
        <hr />
        <% }); %>
    </div>
    

    <!-- <footer>
      <div>Made by John with 💪🏼</div>
    </footer> -->
  </body>
</html>

<style>

  .left {
  float: left;
  width: 40%; 
  height: 400px; 
  overflow: auto;
  border: 4px solid #3498db;
  padding: 20px;
}

.right {
  float: right;
  width: 40%; 
  height: 400px; 
  overflow: auto;
  border: 4px solid #3498db;
  padding: 20px;
}

</style>

<script src="../db/dbConnector_Sqlite.js">

const leftContainer = document.querySelector(".left");
leftContainer.addEventListener("click", function (event) {
  if (event.target.classList.contains("action-button")) {
    const bookId = event.target.getAttribute("data-id");
    deleteBook(bookId)
    alert(`Book ID: ${bookId}`);
  }
  });


</script>
